
<div class="header">
  <a class="logo" style="color: white">Weather Forecast</a>
  <div class="header-right">

      <a routerLink="/home" routerLinkActive="active" style="cursor: pointer" role="button">Home</a>
      <a routerLink="/favorites" routerLinkActive="active" style="cursor: pointer" role="button">Favorites</a>

        <div class="container">
          <div class="checkbox-container rebeccapurple" style="cursor: pointer" role="button">
            <input type="checkbox" checked id="toggle3" (click)=onClick() style="cursor: pointer"/>
            <label for="toggle3"></label>
            <div class="active-circle"></div>
          </div>
        </div>

  </div>
</div>

<!--<nav class="navbar navbar-default">-->
<!--  <div class="container-fluid" style="background: rebeccapurple ; border: 2px solid black">-->
<!--    <div class="navbar-header">-->
<!--      <a style="cursor: pointer" class="navbar-brand" style="color: white">Herolo Weather Task</a>-->
<!--    </div>-->

<!--    <div class="collapse navbar-collapse">-->
<!--      <ul class="nav navbar-nav navbar-right">-->
<!--        <li routerLinkActive="active"><a routerLink="/home" style="cursor: pointer" role="button">Home</a>-->
<!--        </li>-->
<!--        <li routerLinkActive="active"><a routerLink="/favorites" style="cursor: pointer" role="button">favorites</a></li>-->
<!--       <li>-->
<!--         <div class="container">-->
<!--           <div class="checkbox-container rebeccapurple">-->
<!--             <input type="checkbox" checked id="toggle3" (click)=onClick() />-->
<!--             <label for="toggle3"></label>-->
<!--             <div class="active-circle"></div>-->
<!--           </div>-->
<!--         </div>-->
<!--       </li>-->
<!--      </ul>-->

<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
