<div class="header">
  <a class="logo" style="color: white">Weather Forecast</a>
  <div class="header-right">

    <a routerLink="/home" routerLinkActive="active" style="cursor: pointer" role="button">Home</a>
    <a routerLink="/favorites" routerLinkActive="active" style="cursor: pointer" role="button">Favorites</a>

    <div class="container">
      <div class="checkbox-container rebeccapurple" style="cursor: pointer" role="button">
        <input type="checkbox" checked id="toggle3" (click)=onClick() style="cursor: pointer"/>
        <label for="toggle3"></label>
        <div class="active-circle"></div>
      </div>
    </div>
  </div>
</div>

