.bg {
  position: relative;
  width: 100%;
  height: 80vh;
  background: url('https://images.pexels.com/photos/258100/pexels-photo-258100.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') ;
  background-size: cover;
  text-align: center;
  border: 3px solid rebeccapurple;
}
@media{.my-custom-container{
    margin: auto;
    max-width: 900px;
  padding-bottom: 50px;
  }}

