<div class="background">
  <div class="row">
    <div class="col-xs-5">
      <div class="box" *ngIf="currentCity"
           style="max-width: max-content;max-height: max-content; margin-left: 50px;border: 1px solid black;margin-top: 20px" >
        <mat-card-title>{{currentCity.cityName}}</mat-card-title>
        <mat-card-subtitle>   {{currentCity.temperatureMetric}}{{F}}</mat-card-subtitle>
        <mat-card-subtitle> {{currentCity.temperatureImperial}}{{C}}</mat-card-subtitle>
        <mat-card-subtitle> {{currentCity.weatherCondition }}</mat-card-subtitle>
        <mat-card-subtitle><i [ngClass]="'wi ' + iconConvertions"></i></mat-card-subtitle>
      </div>
    </div>
    <div class="col-xs-4"></div>
    <div class="col-xs-2"
         style=" text-wrap: normal;max-width: max-content; margin-top: 20px; ">
      <i class="fa fa-heart" [ngClass]="toggle ? 'fa-heart' : 'fa-heart-o'" (click)="onSelect()"
         style="color: red"></i>Add To Favorites
    </div>

  </div>
  <div class="container" fxLayout="row wrap" fxLayout.xs="col" fxLayoutAlign="center"
       style="margin-top: 20px">
    <div *ngFor="let d of date ;let index = index" fxFlex="20%" fxFlexAlign="center"
         style="background-color: transparent">
      <mat-card class="child">
        <mat-card-title>{{d | date: 'EEEE' }}</mat-card-title>
        <mat-card-subtitle>{{d | date: 'shortDate'}}</mat-card-subtitle>
        <mat-card-subtitle>{{minC[index]}}-{{maxC[index]}}{{C}} </mat-card-subtitle>
        <mat-card-subtitle>{{minF[index]}}-{{maxF[index]}}{{F}}</mat-card-subtitle>
      </mat-card>
    </div>
  </div>
</div>



