.background {
  background-image: url('https://images2.minutemediacdn.com/image/upload/c_crop,h_1192,w_2121,x_0,y_111/f_auto,q_auto,w_1100/v1554702738/shape/mentalfloss/49786-istock_0.jpg');
  background-size: auto;
  background-repeat: no-repeat;
}

.box {

  background-color: transparent;
  border-radius: 25px;
  padding: 20px 40px;

}

.selectedCity {
  margin-top: 50px;
  margin-left: 103px;
  border: transparent;
}

.container {
transform: translateX(20px);
  width: 100%;

}

.mat-card-title {

  font-size: 2rem;
  text-align: center;

}

.mat-card-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;
  text-align: center;
  transform: translate(0, 80%);
}

.mat-card {
  box-shadow: 5px 5px midnightblue;
  margin-bottom: 20px;
  border-radius: 25px;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid midnightblue;
  width: 140px;
  height: 180px;
}
.col-xs-2,#text {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: inline-block;
  font-size: 100%;
  padding: 10px;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .container {
    transform: translateX(-13px);
  }
  .box {
    transform: translateX(-5px);
    width: 80%;
    height: 80%;
  }

  .mat-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90%;
    text-align: center;
  }

  .mat-card-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90%;
    text-align: center;
  }

  .mat-card {
    margin-left: 30px;
    width: 100px;
    height: 140px;
  }
  .col-xs-2,#text {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: inline-block;
    font-size: 90%;
    padding: 10px;
    text-align: center;
  }
}


@media only screen and (max-width: 768px) {

  .container {
    transform: translateX(-20px);
}
  .box {
    transform: translateX(-10px);
    width: 70%;
    height: 70%;
    text-align: center;
  }

  .col-xs-2,#text {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: inline-block;
    font-size: 70%;
    padding: 10px;
    text-align: center;
  }

  #selectedCity {
    width: 80%;
    height: 80%;
  }

  .mat-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70%;
    text-align: center;
  }

  .mat-card-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70%;
    text-align: center;
  }

  .mat-card {
    padding: 20px;
    width: 80%;
    height: 80%;
  }

}

@media only screen and (max-width: 620px) {
  .container {
    transform: translateX(-25px);
  }

  .box {
    border-radius: 0px;
   transform: translateX(-15px);
    width: 50%;
    height: 50%;
    text-align: center;
  }

  .col-xs-2,#text {
    /*transform: translateX(-20px);*/
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: inline-block;
    font-size: 70%;
    padding: 10px;
    text-align: center;
  }

  .mat-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50%;
    text-align: center;
  }

  .mat-card-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60%;
    text-align: center;
  }

  .mat-card {
    border-radius: 0px;
    padding: 20px;
    width: 80%;
    height: 80%;
  }
  .background{
    object-fit: cover;
  }

}
