.box {

  background-color: transparent;
  border-radius: 25px;
  padding: 20px 40px;

}
.selectedCity {
  margin-top:50px;
  margin-left:103px;
  border: transparent;
}

.container {
  margin: auto;
  width: 100%;

}
.mat-card-title {

  font-size: 2rem;
  text-align: center;

}

.mat-card-subtitle {

  font-size: 1.75rem;
  text-align: center ;
  transform: translate(0, 80%) ;
}
.mat-card{
  margin-bottom: 20px;
  border-radius: 25px;
  font-weight: bold;
  background-color: transparent;
  border: 3px solid midnightblue;
  width: 140px;
  height: 250px;
}

button {
  transform: translate(0, 80%) ;
  margin-top: 20px;
}
.btn {
  margin-top: 20px;
  text-align: center;
  padding: 15px 24px;

}

@media only screen and (max-width: 1000px) {
  .container {
    margin: auto;
  }

  .box {
    width: 80%;
    height: 80%;
  }

  .mat-card-title {

    font-size: 90%;
    text-align: center;
  }

  .mat-card-subtitle {

    font-size: 90%;
    text-align: center;
  }

  .mat-card {
    margin-left: 30px;
    width: 100px;
    height: 140px;
  }
}


@media only screen and (max-width: 768px) {
  .container {
    /*height: 0.8%;*/
    margin: auto;
  }
  .box {
    width: 70%;
    height: 70%;
    text-align: center;
  }
  .col-sm-2{
    font-size: 80%;
  }
  #selectedCity{
    width: 80%;
    height: 80%;
  }
  .mat-card-title {

    font-size: 70%;
    text-align: center;
  }

  .mat-card-subtitle {
    font-size: 70%;
    text-align: center;
  }
  .mat-card {
    padding: 20px;
    width: 80%;
    height: 80%;
  }

}
@media only screen and (max-width: 620px) {
  .container {
    margin: auto;
  }
  .box {
    width: 50%;
    height: 50%;
    text-align: center;
  }
.col-xs-2,#text {
  font-size: 60%;
}

  .mat-card-title {

    font-size: 50%;
    text-align: center;
  }

  .mat-card-subtitle {
    font-size: 60%;
    text-align: center;
  }
  .mat-card {
    padding: 20px;
    width: 80%;
    height: 80%;
  }
  .btn {

    margin-top: 15px;
    text-align: center;
    font-size: 5px;
    padding: 15px 24px;
  }
  button{
    margin-top: 10px;
  }
}

/*@media only screen and (max-width: 500px) {*/
/*  .container {*/
/*    position: center;*/
/*  }*/

/*  .mat-card-title {*/
/*    text-align: center;*/
/*    font-size: 50%;*/
/*  }*/

/*  .mat-card-subtitle {*/

/*    font-size: 60%;*/
/*    align-items: center;*/
/*    !*display: flex;*!*/
/*  }*/

/*  .mat-card {*/
/*    transform: rotateX(270deg);*/
/*    text-align: center;*/
/*    padding: 25px 5px;*/
/*    width: 80%;*/
    /*height: 80%;*/
  /*}*/

/*}*/


