.child {
  font-weight: bold;
  font-size: 120%;
  margin-top: 20px;
  background-position: center center;
  /*background-image: url('https://cdn.dodowallpaper.com/full/761/sky-hd-1.jpg');*/
  background-size: cover;
  background-color: transparent;
  width: 140px;
  height: 180px;
  border: 3px solid rebeccapurple;
}

.container {
  margin-left: 20px;
  max-height: 100%;
  width: 100%;
  margin-top: 50px;


}

button {
  margin-top: 20px;
  padding: 5px 35px;
}
@media only screen and (max-width: 768px) {
  .container {
    height: 0.8%;
    margin: auto;
  }

  /*.child {*/
  /*  height: 80%;*/
  /*}*/

  .mat-card-title {

    font-size: 60%;
    text-align: left;
  }

  .mat-card-subtitle {

    font-size: 60%;
    text-align: center;
  }

  .mat-card {

    width: 50px;
    height: 80%;

  }

  .button {
    margin-right: 100px;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 330px) {
  .container {
    margin: auto;
    height: 0.8%;
  }

  .mat-card-title {
    text-align: left;
    font-size: 50%;
  }

  .mat-card-subtitle {

    font-size: 50%;
    text-align: center;
  }

  .mat-card {

    text-align: left;
    width: 30px;
    padding-right: 1px;
    height: 80%;

  }

  .button {
    margin-right: 100px;
    margin-top: 20px;
  }
}

