<div *ngIf="isFehrenhite">
  <button class="btn btn-primary" (click)="swapTempUnits()">℃</button>
</div>
<div *ngIf="!isFehrenhite">
  <button class="btn btn-success" (click)="swapTempUnits()">℉</button>
</div>
<button class="btn btn-primary" style="cursor: pointer" role="button" (click)="onSelect()">Add To Favorits
</button>
<div class="container" fxLayout="row" fxLayout.xs="row" fxLayoutGap="-6%" fxLayoutAlign="left">
  <div *ngFor="let day of day ;let index = index" fxFlex="20%" fxFlexAlign="center" style="background-color: transparent">
    <div *ngIf="isFehrenhite">
      <mat-card class="child">
        <mat-card-title>{{day}}</mat-card-title>
        <mat-card-subtitle>{{'Min'}} / {{'Max'}}  </mat-card-subtitle>
        <mat-card-subtitle>{{minF[index]}}{{C}}/
          {{maxF[index]}}{{F}}</mat-card-subtitle>
      </mat-card>
    </div>
    <div *ngIf="!isFehrenhite">
      <mat-card class="child">
        <mat-card-title>{{day}}</mat-card-title>
        <mat-card-subtitle>{{'Min'}} / {{'Max'}}  </mat-card-subtitle>
        <mat-card-subtitle>{{minC[index]}}{{F}}
          /{{maxC[index]}}{{C}} </mat-card-subtitle>
      </mat-card>
    </div>
  </div>
</div>


