<div class="container">
  <div class="row">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-4">
      <div class="form-group">
        <label for="query"></label>
        <input type="text" (keyup)="onKeypress($event)" class="form-control" id="query" placeholder="search city..."
               style="margin-bottom: 5px">

        <select class='form-control' name="search" [(ngModel)]="selectedOption"
                style="cursor: pointer" (change)="onSeletct()">
          <option label="{{item.LocalizedName}}" *ngFor="let item of weatherItem"
                  [ngValue]="(item)">{{item.LocalizedName}}</option>
        </select>

      </div>
    </div>
  </div>

  <div class="col-xs-4">
  </div>
</div>




