<div class="bg">
  <h3 style="text-align: center;font-family: Aharoni ">My Favorits Cities</h3>
  <div class="container" fxLayoutAlign.xl="space-evenly" fxLayoutAlign.lg="space-evenly" fxLayoutAlign.md="space-evenly"
       fxLayoutAlign.sm="space-evenly" fxLayoutAlign.xs="space-evenly" fxLayout.xl="row wrap" fxLayout.lg="row wrap"
       fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column">
    <div *ngFor="let weather of weather$ | async ; let index = index" fxFlex="20%" fxFlexAlign="center">
      <mat-card class="child" (click)="passIndex(index)">
        <mat-card-title>{{weather.cityName}}</mat-card-title>
        <mat-card-subtitle>{{weather.temperatureImperial}}{{C}}</mat-card-subtitle>
        <mat-card-subtitle>{{weather.temperatureMetric}}{{F}}</mat-card-subtitle>
        <mat-card-subtitle>{{weather.weatherCondition}}</mat-card-subtitle>
        <mat-card-subtitle><i [ngClass]="'wi ' + weather.icon"></i></mat-card-subtitle>
      </mat-card>
    </div>
  </div>
</div>
