.mat-card {
  background: royalblue;
  margin-top: 5px;
  width: 80%;
  height: 100%;
  border: 3px solid black;
  margin-bottom: 5px;
  flex-grow: 1;
  flex-basis: 0;
}
.mat-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80%;
  text-align: center;
}

.mat-card-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80%;
  text-align: center;
}
mat-card-content{
  flex-grow: 1;
  flex-basis: 0;
}
@media only screen and (max-width: 1200px) {
  .child {
    width: 100%;
    text-wrap: none;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 120px;
  }

  .mat-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80%;
    text-align: center;
  }

  .mat-card-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80%;
    text-align: center;
  }

  .container {
    flex-direction: row;
  }

  mat-card-content {
    flex-grow: 1;
    flex-basis: 0;
  }

  @media only screen and (max-width: 768px) {

    .child {
      width: 100%;
      text-align: center;
      padding: 20px;
      min-width: 120px;
      flex-grow: 1;
      flex-basis: 0;
    }


    .mat-card-title {

      justify-content: center;
      align-items: center;
      font-size: 70%;
      text-align: center;
    }

    .mat-card-subtitle {
      justify-content: center;
      align-items: center;
      font-size: 80%;
      text-align: center;
    }
  }

  @media only screen and (max-width: 600px) {

    .child {

      justify-content: center;
      align-items: center;
      margin: auto;
      width: 100%;
      text-align: center;
      text-wrap: none;
      min-width: 120px;
      /*transform: rotate(270deg);*/
    }

    .mat-card-title {
      /*transform: rotate(90deg);*/
      /*display: flex;*/
      justify-content: center;
      align-items: center;
      font-size: 60%;
      text-align: center;
    }

    .mat-card-subtitle {
      /*transform: rotate(90deg);*/
      /*display: flex;*/
      justify-content: center;
      align-items: center;
      font-size: 70%;
      text-align: center;
    }
    .mat-card-actions, .mat-card-content{
      padding: 10px;
    }
    .bg {
      border: none;
    }
  }
}




