.mat-card {
  background: royalblue;
  margin-top: 5px;
  width: 80%;
  height: 100%;
  border: 3px solid black;
  margin-bottom: 5px;
}
.mat-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80%;
  text-align: center;
}

.mat-card-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80%;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .child {
    width: 100%;
    text-wrap: none;
  }
  .mat-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80%;
    text-align: center;
  }

  .mat-card-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80%;
    text-align: center;
  }

  .container {
    flex-direction: row;
  }
}

@media only screen and (max-width: 768px) {

  .child {
    width: 100%;
    text-align: center;
    padding: 20px;
  }
  mat-card-content{
    flex-grow: 1;
  }
  .mat-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70%;
    text-align: center;
  }

  .mat-card-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80%;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  mat-card-content{
    flex-grow: 1;
  }
  .child {
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    text-align: center;
    text-wrap: none;
    max-width: fit-content;
   
  }

  .mat-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60%;
    text-align: center;
  }

  .mat-card-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70%;
    text-align: center;
  }

  .bg {
    border: none;
  }
}




