<div class="bg">
  <h3 style="text-align: center;font-family: Aharoni ">My Favorits Cities</h3>
  <div class="container" fxLayout="row wrap" fxLayout.md="row wrap" fxLayout.sm="row wrap" fxLayout.xs="column">
    <div *ngFor="let weather of weather$ | async ; let index = index" fxFlex="20%" fxFlexAlign="center" >
      <mat-card class="child" (click)="passIndex(index)">
        <mat-card-title>{{weather.cityName}}</mat-card-title>
        <mat-card-subtitle>{{weather.temperatureImperial}}{{C}}</mat-card-subtitle>
        <mat-card-subtitle>{{weather.temperatureMetric}}{{F}}</mat-card-subtitle>
        <mat-card-subtitle>{{weather.weatherCondition}}</mat-card-subtitle>
        <mat-card-subtitle><i [ngClass]="'wi ' + weather.icon"></i></mat-card-subtitle>
      </mat-card>
    </div>






